

* {
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #333; 
}

a {
  color: #10b981;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #059669; 
}
.navbar-custom {
  background-color: rgba(15, 23, 42, 0.95); 
  backdrop-filter: blur(10px);
  padding: 15px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  border: 2px solid #10b981;
}

.nav-link {
  color: #cbd5e1 !important; 
  font-weight: 500;
  margin: 0 5px;
  transition: all 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #10b981 !important;
}


#hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #0f172a;
}

.hero-bg {
  margin-top: 95px;
  width: auto;
  height: 83vh;
  opacity: 0.6;
  z-index: 0;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(15, 23, 42, 0.9) 0%,
    rgba(16, 185, 129, 0.2) 100%
  );
  z-index: 1;
}

.hero-content {
  z-index: 1;
  margin-top: 90px;
}

.name {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 8rem;
  color: white;
  /* color: #f8fafc; */
  text-transform: uppercase;
  margin-top: 200px;
  letter-spacing: 10px;
  margin-bottom: 5px;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* text-shadow: 0px 4px 30px rgba(85, 156, 50, 0.4);  */
}

.role {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  /* color: #cbd5e1;  */
  color: #10b981;
  letter-spacing: 1px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.typewriter {
  border-right: 3px solid #10b981;
  width: 25ch;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 4s steps(50, end),
    blink-caret 0.75s step-end 3;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 25ch;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #2e8b57;
  }
}

.hero-actions .badge {
  background-color: #10b981 !important;
  padding: 12px 25px;
  font-size: 1rem !important;
  font-weight: 600;
  transition: transform 0.3s ease;
}
.hero-actions .badge a {
  color: white !important;
}
.hero-actions .badge:hover {
  transform: translateY(-3px);
  background-color: #059669 !important;
}

.hero-socials i {
  font-size: 1.8rem;
  transition: all 0.3s ease;
}
.hero-socials i:hover {
  color: #10b981 !important;
  transform: scale(1.1);
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color:  #2E8B57; 
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
  margin-top: 20px;
}

#about-info {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #37513e;
  /* color:  #2b6444; */
  letter-spacing: 1px;
  width: fit-content;
  padding: 0% 10% 5% 10%;
  margin-top: 20px;
}

#about-card {
  max-width: 60%;
  width: 90%;
  margin: 50px auto;
  padding: 40px;
  background-color: #ffffff;
}

.border {
  border: 1px solid rgba(78, 229, 70, 0.1); 
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  border-radius: 20px;
}
#about-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(70, 229, 86, 0.15);
  border-color: #2e8b57;
}

/* --- SKILLS SECTION STYLES --- */

#skills {
  /* background: linear-gradient(135deg, #2e8b57 0%, #3bf689 100%); */
  background-color: #f8fafc;
}

.skill-card {
  background: white;
  background-color: #ffffff;
  padding: 40px 30px;
  height: 100%;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(16, 185, 129, 0.15);
  border-color: #10b981;
}

.icon-wrapper {
  font-size: 2.5rem;
  color: #10b981;
  margin-bottom: 20px;
}

.skill-card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 25px;
  color: #283b1f;
}

.skill-tags span {
  background-color: #ecfdf5;
  font-family: "Poppins", sans-serif;
  color: #065f46;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.skill-card:hover .skill-tags span {
  background-color: #edffe0; 
  color: #318f53; 
}

/* --- Projects Section --- */
#projects { background-color:#f8fafc; }
.project-content {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  padding: 30px 80px;
  margin: 5px auto;
  width: 70%;
  min-height: 350px;
  font-size: 1.2em;
}

.corouser-indicators [data-bs-target] {
  background-color: #10b981;
}

.carousel-item {
  padding: 20px;
}

.carousel-indicators button {
  background-color: #193a20 !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  margin: 0 5px !important;
  opacity: 0.5;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color:#0f172a;
  border-radius: 50%;
  padding: 20px;
  background-size: 50%;
}
.project-content h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  color: #10b981;
  text-align: center;
}

.project-content:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(16, 185, 129, 0.15);
  border-color: #2e8b57;
}

/* --- Education Section --- */
.education-content {
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 20px 0;
}

.education-card h3{
  color:#059669;
}

.education-content::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  margin-left: -1px;
  border-left: 2px dashed #2e8b57; 
  z-index: 0;
  opacity: 0.5;
}

.dot {
  width: 18px;
  height: 18px;
  background-color: #2e8b57; 
  border: 4px solid #fff;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.education-row:hover .dot {
  background-color: #2e8b57;
  transform: scale(1.4);
  box-shadow: 0 0 0 6px rgba(118, 229, 70, 0.2); 
}

.education-row:hover .education-card {
  transform: translateY(-5px);
  border-color: #2e8b57;
  box-shadow: 0 10px 25px rgba(169, 255, 77, 0.15);
}

#education {
  background-color:white;
}


/* --- Experience Section --- */
#experience{
  background-color: whitesmoke;
}
.internship-header {
  background: linear-gradient(135deg, #2e8b57 0%, #3bf689 100%);
  max-width: 50%;
  width: 90%;
  padding: 20px;
  border-radius: 0% !important;
}

.internship-header h3 { color: #10b981; margin-bottom: 5px; }

.internship-header:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(70, 229, 86, 0.15);
}

.internship-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  max-width: 45%;
  width: 90%;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 10px 10px; 
}

/* --- CERTIFICATIONS SECTION STYLES --- */
#certifications {
  background-color: #f8fafc;
}

.cert-card {
  display: block;
  background: #ffffff;
  padding: 20px;
  height: 100%;
  text-decoration: none;
  overflow: hidden;
}

.cert-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  border-color: #2e8b57;
}

.cert-header {
  display: flex;
}

.cert-year {
  color:#10b981;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.cert-card h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #213b1e;
  margin-bottom: 5px;
}

.cert-card p {
  font-family: "Poppins", sans-serif;
  color: #64748b; 
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.view-cert-overlay {
  background-color: #10b981;; 
  padding: 8px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.85rem;
}

.cert-card:hover .view-cert-overlay {
  transform: translateY(0);
}

/* --- ACHIEVEMENTS SECTION STYLES --- */
#achievements {
    background-color: white; /* Matches Experience section bg */
}

.achievement-card {
    background: #ffffff;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.achievement-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(16, 185, 129, 0.15); /* Your Green Shadow */
    border-color: #10b981;
}

.achievement-card h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: #283b1f;
    margin-bottom: 5px;
}

.achievement-card p, .achievement-card li {
    font-family: "Poppins", sans-serif;
    color: #64748b; /* Slate grey text */
    font-size: 0.95rem;
}

/* Customizing the list to match your other lists */
.achievement-card .custom-bullet-list li {
    margin-bottom: 0.5rem;
}

/* Enforcing the icon color */
.achievement-card .icon-wrapper {
    font-size: 2rem;
    color: #10b981; 
    line-height: 1;
}

/* --- CONTACT SECTION STYLES --- */
#contact{
  background-color: white;
}
.contact-card {
  background: #f8fafc;
  padding: 50px;
  max-width: 800px;
}

.contact-card:hover {
  box-shadow: 0 20px 40px rgba(118, 229, 70, 0.375);
  border-color: #2e8b57;
}

.contact-icon {
  font-size: 2.5rem;
  color: #0f172a;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.contact-icon:hover {
  color:#10b981;
  transform: translateY(-5px);
}

.contact-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: transparent;
  color: #10b981;
  border: 2px solid #10b981;
  padding: 12px 40px;
  border-radius: 50px;
  transition: all 0.3s ease;
  margin-top: 20px;
  display: inline-block;
}

.contact-btn:hover {
  background-color: transparent;
  color: #10b981;
  box-shadow: 0 5px 15px rgba(120, 229, 70, 0.4);
  text-decoration: none;
}
